.container.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;

  .contact-options {
    flex-direction: column;
    gap: 1.2rem;

    .contact-option {
      background: $bgclr-variant;
      padding: 1.2rem;
      border-radius: 1.2rem;
      text-align: center;
      border: 1px solid transparent;
      transition: $transition;

      &:hover {
        background: transparent;
        border-color: $clr-primary-variant;
      }

      & a {
        display: inline-block;
        margin-top: 0.7rem;
        font-size: 0.8rem;
      }

      .contact-option-icon {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

// FORM //

form {
  flex-direction: column;
  gap: 1.2rem;

  & input,
  textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid $clr-primary-variant;
    resize: none;
    color: $clr-white;
  }
}

@media (max-width: $normal-breakpoint) {
  .container.contact-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  .container.contact-container {
    width: $container-width-sm;
  }
}
