@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&family=Nunito+Sans:ital,wght@1,300&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $bgclr;
  color: $clr-white;
  line-height: 1.7;
  background-image: url(https://res.cloudinary.com/dvagopwtu/image/upload/v1693908489/bg-texture_v9mzrz.png);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: $clr-light;
}

section > h2 {
  color: $clr-primary;
  margin-bottom: 3rem;
}

a {
  color: $clr-primary;
  transition: $transition;

  &:hover {
    color: $clr-white;
  }
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
