// @font-face {
//   font-family: PoppinsLight;
//   src: url(../../fonts/Poppins-Light.ttf);
// }

// @font-face {
//   font-family: PoppinsMedium;
//   src: url(../../fonts/Poppins-Medium.ttf);
// }

// @font-face {
//   font-family: PoppinsRegular;
//   src: url(../../fonts/Poppins-Regular.ttf);
// }

// @font-face {
//   font-family: PoppinsSemiBold;
//   src: url(../../fonts/Poppins-SemiBold.ttf);
// }

@font-face {
  font-family: light;
  src: url(../../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: regular;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: medium;
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: semi-bold;
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
