//COLORS
$bgclr: #1f1f38;
$bgclr-variant: #2c2c6c;
$clr-primary: #4db5ff;
$clr-primary-variant: rgba(77, 181, 255, 0.4);
$clr-white: #fff;
$clr-light: rgba(255, 255, 255, 0.6);

//TRANSITIONS
$transition: all 400ms ease;

//BREAKPOINTS
$normal-breakpoint: 1024px;
$mobile-breakpoint: 600px;
